# Dependencies
node_modules/

# Environment
.env
.env.*

# Build
dist/
build/

# Logs
*.log

# Uploaded files
backend/src/uploads/*
!backend/src/uploads/.gitkeep

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db